# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
*/venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/

# Flask instance folder
instance/

# Datenbanken - Diese sollen nicht ins Repository
users.db

# Environment variables - Können sensible Daten enthalten
.env
.flaskenv

app/static/kartendaten
